.input{
    display: flex;
    position: fixed;
    right: 15px;
    left: 15px;
    bottom: 20px;
    padding: 5px;
    background: #3d4655;
    border-radius:5px;
    /* box-shadow: 0 0 15px 0 rgb(197 197 197/88%); */
    min-height: 45px;
    z-index: 1;
    max-width: 790px;
    margin-right: auto;
    margin-left:auto;
    border: solid 1px #fff;
   
}
.input input{
    width: 100%;
    background-color: #3d4655;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    color: #fff;
    background-image: url(../asset/left-arrow.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 35px;
}