.item{
    background: #3d4655 ;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 15px 0;
    color:#fff;
}
.App .item:nth-child(2){
    border: solid 3px #D0C455;
}
.phonetic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.phonetics{
    display: flex;
    gap: 5px;
    flex-flow: wrap;
    min-height: 50px;
}

.word{
    display: flex;
    gap:5px;
    align-items: flex-start;
    flex-flow: wrap;
    border-bottom: #e9e9e90d dashed 3px;
}
.audioBox{
    display: flex;
    gap:5px;
    align-items: center;
}
.partOfSpeech{
    font-style: italic;
}

.item h3{
color:#1B966A;
font-size: 16px;
margin-bottom: 0;
}
.readMore:not(:last-child){
    border-bottom: #e9e9e90d solid 1px;
}
.readMore p{
    margin-top: 5px;
    word-wrap:break-word
}

.flex{
    display: flex;
    /* gap: 5px; */
    flex-direction: column;
}